extends ../shared/template

block content
  table
    thead
      tr
        td Name
        td Color
        td Value
    tbody
      each priority in priorities
        tr= priorities.name
        tr: div(style="color: #{priorities.color}, padding: 2px")
        tr= priorities.value
        tr(style="background-color: #{priority.color}")
          td= priority.name
          td
          td= priority.value
